Package: com.libretro.snes9x_next
Name: snes9x_next
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of SNES9x Next
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
